<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/circular-std/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/fontawesome/css/fontawesome-all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/charts/chartist-bundle/chartist.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/charts/morris-bundle/morris.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/charts/c3charts/c3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/flag-icon-css/flag-icon.min.css}"/>
    <title>Home Admin</title>
</head>
<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">

<header th:fragment="header">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" th:href="@{/index}">Home Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img th:src="@{/images/avatar-2.jpg}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img th:src="@{/images/avatar-3.jpg}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img class="user-avatar-md rounded-circle" th:src="@{/images/avatar-4.jpg}"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img th:src="@{/images/avatar-5.jpg}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/images/avatar-1.jpg}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div sec:authorize="isAuthenticated()" class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name" sec:authorize="isAuthenticated()" sec:authentication="principal.username">John Abraham </h5>
                                    <span class="status"></span><span sec:authorize="hasRole('ROLE_USER')" class="ml-2">User</span>
                                    <span class="status"></span><span sec:authorize="hasRole('ROLE_ADMIN')" class="ml-2">Admin</span>
                                </div>
                                <a class="dropdown-item" th:href="@{/account}"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" th:href="@{/settings}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Account </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Account <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">User</a>
                                            <div id="submenu-1-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" th:href="@{/index}">View profile</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" th:href="@{/index}">Edit profile</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" th:href="@{/index}">Setting profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/index}">Account</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Statistics</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/index}">Incomes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/index}">Expenses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/index}">Notifications</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider" th:href="@{userProfile}" sec:authorize="hasRole('ROLE_ADMIN')">
                                Admin
                            </li>
                            <li class="nav-item" th:href="@{userProfile}" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Administration </a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/user/all}">Manage users</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/index}">User statistics</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
</header>

    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title" sec:authorize="isAuthenticated()" sec:authentication="principal.username">User main view </h2>
                            <p class="pageheader-text">Main view of the app</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{userProfile}" class="breadcrumb-link" sec:authorize="hasRole('ROLE_USER')">User</a></li>
                                        <li class="breadcrumb-item"><a th:href="@{userProfile}" class="breadcrumb-link" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Main dashboard view</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Total save</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">$12099</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Total expenses</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">$12099</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue2"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Saved this month</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">0.00</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                        <span>N/A</span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue3"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Spent this mont</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">$28000</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                                        <span>-2.00%</span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->

                        <!-- recent orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Last expenses</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th class="border-0">Name</th>
                                                <th class="border-0">Amount</th>
                                                <th class="border-0">Reason</th>
                                                <th class="border-0">Date</th>
                                                <th class="border-0">Place</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Product #1 </td>
                                                <td>$3000 </td>
                                                <td>food</td>
                                                <td>27-08-2018 01:22:12</td>
                                                <td>Frog </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Product #2 </td>
                                                <td>$55000 </td>
                                                <td>home</td>
                                                <td>27-08-2018 01:22:12</td>
                                                <td>Disco </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Product #3 </td>
                                                <td>$3000 </td>
                                                <td>party</td>
                                                <td>27-08-2018 01:22:12</td>
                                                <td>Tata </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Product #4 </td>
                                                <td>$365000 </td>
                                                <td>boliche</td>
                                                <td>27-08-2018 01:22:12</td>
                                                <td>Cain </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9"><a href="#" class="btn btn-outline-light float-right">See all</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->


                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- customer acquistion  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total saved</h5>
                                <div class="card-body">
                                    <div class="ct-chart ct-golden-section" style="height: 354px;"></div>
                                    <div class="text-center">
                                            <span class="legend-item mr-2">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">UYU</span>
                                            </span>
                                        <span class="legend-item mr-2">
                                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Dollar</span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end customer acquistion  -->
                        <!-- ============================================================== -->
                    </div>

                    </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->



</div>

<footer th:fragment="footer">
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script type="text/javascript"
             th:src="@{/vendor/jquery/jquery-3.3.1.min.js}"></script>
    <!-- bootstap bundle js -->
    <script type="text/javascript"
             th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
    <!-- slimscroll js -->
    <script type="text/javascript"
             th:src="@{/vendor/slimscroll/jquery.slimscroll.js}"></script>
    <!-- main js -->
    <script type="text/javascript"
             th:src="@{/libs/js/main-js.js}"></script>
    <!-- chart chartist js -->
    <script type="text/javascript"
             th:src="@{/vendor/charts/chartist-bundle/chartist.min.js}"></script>
    <!-- sparkline js -->
    <script type="text/javascript"
             th:src="@{/vendor/charts/sparkline/jquery.sparkline.js}"></script>
    <!-- morris js -->
    <script type="text/javascript"
             th:src="@{/vendor/charts/morris-bundle/raphael.min.js}"></script>
    <script type="text/javascript"
             th:src="@{/vendor/charts/morris-bundle/morris.js}"></script>
    <!-- chart c3 js -->
    <script type="text/javascript"
             th:src="@{/vendor/charts/c3charts/c3.min.js}"></script>
    <script type="text/javascript"
             th:src="@{/vendor/charts/c3charts/d3-5.4.0.min.js}"></script>
    <script type="text/javascript"
             th:src="@{/vendor/charts/c3charts/C3chartjs.js}"></script>
    <script type="text/javascript"
             th:src="@{/libs/js/dashboard-ecommerce.js}"></script>

</footer>
</body>
</html>