<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Admin - Registration</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/circular-std/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/fontawesome/css/fontawesome-all.css}"/>
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>
<body>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->
<form class="splash-container" th:action="@{/registration}" th:object="${user}" method="post">
    <div class="card">

        <div class="card-header">
            <h3 class="mb-1">Registration Form</h3>
            <p>Please enter your user information.</p>
        </div>
        <div class="card-body">
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                <label for="firstName" class="control-label">First Name</label>
                <input class="form-control form-control-lg" id="firstName" type="text" name="firstName" placeholder="John" autocomplete="off" th:field="*{firstName}">
                <p class="text-danger"
                   th:each="error: ${#fields.errors('firstName')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                <label for="lastName" class="control-label">Last Name</label>
                <input class="form-control form-control-lg" id="lastName" type="text" name="lastName" placeholder="Carry" autocomplete="off" th:field="*{lastName}">
                <p class="text-danger"
                   th:each="error : ${#fields.errors('lastName')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                <label for="email" class="control-label">Email</label>
                <input class="form-control form-control-lg" id="email" type="email" name="email" placeholder="john@mydomain.com" autocomplete="off" th:field="*{email}">
                <p class="text-danger"
                   th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                    error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                <label for="confirmEmail" class="control-label">Confirm Email</label>
                <input class="form-control form-control-lg" id="confirmEmail" type="confirmEmail" name="confirmEmail" placeholder="Same as email" autocomplete="off" th:field="*{confirmEmail}">
                <p class="text-danger"
                   th:each="error : ${#fields.errors('confirmEmail')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                <label for="password" class="control-label">Password</label>
                <input class="form-control form-control-lg" id="password" type="password" placeholder="My-!*Custom-!*Password" th:field="*{password}">
                <p class="text-danger"
                   th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                <label for="confirmPassword" class="control-label">Confirm Password</label>
                <input class="form-control form-control-lg" id="confirmPassword" type="password" placeholder="Same as password" th:field="*{confirmPassword}">
                <p class="text-danger"
                   th:each="error : ${#fields.errors('confirmPassword')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                <label class="custom-control custom-checkbox" for="terms">
                    <input class="custom-control-input" id="terms" type="checkbox" ><span class="custom-control-label">By creating an account, you agree the <a th:href="@{/terms}">terms and conditions</a></span>
                </label>
                <p class="text-danger"
                   th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
                    error</p>
            </div>

        </div>
        <div class="card-footer bg-white">
            <p>Already member? <a th:href="@{/login}" class="text-secondary">Login Here.</a></p>
        </div>
    </div>
</form>

<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<script th:src="@{/vendor/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>