<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="index :: head">
</head>
<body>

<div class="dashboard-main-wrapper">
    <header th:replace="index :: header">

    </header>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title" sec:authorize="isAuthenticated()" sec:authentication="principal.username">Settings </h2>
                    <p class="pageheader-text">All available settings for the current user</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{userProfile}" class="breadcrumb-link" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Settings</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- ============================================================== -->
            <!-- total Users   -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">Total Users</h5>
                            <h2 class="mb-0" th:text="${numberOfUsers}"> 500</h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                            <i class="fa fa-user fa-fw fa-sm text-primary"></i>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <a th:href="@{/user/all}" class="card-link">View Details</a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total users   -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->

</div>
<footer th:replace="index :: footer">

</footer>
</body>
</html>